<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='appStyles.css') }}">
</head>
<body>
  
    <div class="topBar">
        <h1>Catalog APP</h1>
        <a id="login" href="{{url_for('gdisconnect')}}">Logout</a>
    </div>

  <form action="{{url_for('catalogItemsDelete',
  catalog_id = catalog_id, catalogItem_id = deletedItem.id)}}" method="post">

    <p>Name: {{deletedItem.name}}</p>
      
    <p>Description: {{deletedItem.description}}</p>
      
    <p>Catalog: {{deletedItem.catalog.name}}</p>
       
    <input type="submit" value="Delete">

    <a href = '{{url_for('catalogItems', catalog_id = deletedItem.catalog_id)}}'>
      Cancel</a>
    </form>



</body>
</html>
