<html>
  <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='appStyles.css') }}">
  </head>
<body>
    <div class="topBar">
        <h1>Catalog APP</h1>
        <a id="login" href="{{url_for('gdisconnect')}}">Logout</a>
    </div>
  <form action="{{url_for('newCatalogItem')}}" method="post">

    <p>Name:</p>
      <input type="text" size="30" name="name" >
    <p>Description:</p>
      <input type="text" size="500" name="description">
    <p>Catalog:</p>
        <select name="catalog">

          <option value ='1'>Soccer</option>
		      <option value ='2'>Basketbal</option>
		      <option value ='3'>Baseball</option>
		      <option value ='4'>Frisbee</option>
		      <option value ='5'>Snowboarding</option>
		      <option value ='6'>Rock Climbing</option>
		      <option value ='7'>Foosball</option>
		      <option value ='8'>Skating</option>
		      <option value ='9'>Hockey</option>
        
        </select>
    <input type="submit" value="Create">

    <a href = '{{url_for('catalog')}}'>
      Cancel</a>
    </form>



</body>
</html>